@import "img-animation";

$card-color: darkgray;

@mixin centered-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.cardsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container {
  @include centered-flex;
  perspective: 40vw;
  width: 45vw;
  min-height: 75vh;
  border-radius: 2.5%;
  border: solid black 0.2rem;
  margin: 2vw;
}

.card {
  width: 75%;
  border-radius: 10%;
  background-color: $card-color;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2), 0 0 2rem rgba(0, 0, 0, 0.5);
  margin: 2vw;
  overflow: hidden;
}

.rabbit {
  @include centered-flex;
  perspective: 40vw;
}

.rabbit img {
  transition: all 0.5s ease;
  transition-duration: 0.5s;
  width: 15vw;
  height: 14vw;
  z-index: 20;
}

.rabbit img:hover {
  cursor: pointer;
}

.pettingUnlifted {
  animation: shakeUnlifted 1.5s linear;
  animation-iteration-count: infinite;
}

.pettingLifted {
  animation: shakeLifted 1.5s linear;
  animation-iteration-count: infinite;
}

.rotateAndPettingLifted {
  animation: rotateToLifted 1.1s ease, shakeLifted 1.5s linear 1.1s infinite;
}

.rotateAndPettingUnlifted {
  animation: rotateToUnlifted 1.1s ease, shakeUnlifted 1.5s linear 1.1s infinite;
}

.circle {
  width: 15vw;
  height: 14vw;
  background: linear-gradient(to right, gray, white);
  border-radius: 100%;
  position: absolute;
  z-index: 1;
}

.info {
  text-align: center;
}

.info h4 {
  font-size: 1.3;
  padding: 2rem, 0;
  color: #585858;
  font-weight: lighter;
}

.vote {
  @include centered-flex;
  flex-wrap: wrap;
  z-index: 5;
}

.vote button {
  padding: 0.5rem 1rem;
  margin: 0.1rem;
  border: none;
  box-shadow: 0 0.25rem 0.6rem rgba(0, 0, 0, 0.2);
  border-radius: 2.5%;
  font-weight: bold;
  font-size: 0.9rem;
  color: #585858;
  cursor: pointer;
  background-color: white;
  outline: none;
}

button.active {
  color: white;
  background-color: #585855;
}

.purchase {
  position: relative;
}

.purchase button {
  margin-top: 1rem;
  width: 100%;
  border: none;
  outline: none;
  padding: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

.purchase button:hover {
  background-color: #585858;
  color: white;
}

.purchase .invisibleCircle {
  height: 2rem;
  width: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  background-color: $card-color;
  position: absolute;
  z-index: 3;
}
