@keyframes shakeUnlifted {
  0% {
    transform: translate3d(1px, 1px, 2rem) rotate(0deg);
  }
  10% {
    transform: translate3d(-1px, -1px, 1rem) rotate(-1deg);
  }
  20% {
    transform: translate3d(-2px, 0px, 1rem) rotate(1deg);
  }
  30% {
    transform: translate3d(2px, 1px, 1rem) rotate(0deg);
  }
  40% {
    transform: translate3d(1px, -1px, 1rem) rotate(1deg);
  }
  50% {
    transform: translate3d(-1px, 2px, 2rem) rotate(-1deg);
  }
  60% {
    transform: translate3d(-2px, 1px, 1rem) rotate(0deg);
  }
  70% {
    transform: translate3d(2px, 1px, 1rem) rotate(-1deg);
  }
  80% {
    transform: translate3d(-1px, -1px, 1rem) rotate(1deg);
  }
  90% {
    transform: translate3d(1px, 1px, 2rem) rotate(0deg);
  }
  100% {
    transform: translate3d(1px, -1px, 2rem) rotate(0deg);
  }
}

@keyframes shakeLifted {
  0% {
    transform: translate3d(1px, 1px, 2rem) rotateY(180deg);
  }
  10% {
    transform: translate3d(-1px, -1px, 1rem) rotateY(179deg);
  }
  20% {
    transform: translate3d(-2px, 0px, 1rem) rotateY(181deg);
  }
  30% {
    transform: translate3d(2px, 1px, 1rem) rotateY(180deg);
  }
  40% {
    transform: translate3d(1px, -1px, 1rem) rotateY(181deg);
  }
  50% {
    transform: translate3d(-1px, 2px, 2rem) rotateY(179deg);
  }
  60% {
    transform: translate3d(-2px, 1px, 1rem) rotateY(180deg);
  }
  70% {
    transform: translate3d(2px, 1px, 1rem) rotateY(179deg);
  }
  80% {
    transform: translate3d(-1px, -1px, 1rem) rotateY(181deg);
  }
  90% {
    transform: translate3d(1px, 1px, 2rem) rotateY(180deg);
  }
  100% {
    transform: translate3d(1px, -1px, 2rem) rotateY(179deg);
  }
}

@keyframes rotateToUnlifted {
  0% {
    transform: translate3d(0, 0, 2rem) rotateY(180deg);
  }
  30% {
    transform: translate3d(0, 0, 2rem) rotateY(0deg);
  }
  70% {
    transform: translate3d(0, 0, 2rem) rotateY(180deg);
  }
  100% {
    transform: translate3d(0, 0, 2rem) rotateY(0deg);
  }
}

@keyframes rotateToLifted {
  0% {
    transform: translate3d(0, 0, 2rem) rotateY(0deg);
  }
  30% {
    transform: translate3d(0, 0, 2rem) rotateY(180deg);
  }
  70% {
    transform: translate3d(0, 0, 2rem) rotateY(0deg);
  }
  100% {
    transform: translate3d(0, 0, 2rem) rotateY(180deg);
  }
}
